.main {
  background-image: linear-gradient(135deg, var(--primary), var(--secondry)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
